.album-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 5rem;
}

.cover-wrapper {
  width: 20rem;
}

.cover-img {
  width: 100%;
}

.cover-album-name,
.cover-artist-name {
  padding: 0.25rem;
}

.song-container {
  display: flex;
  flex-direction: column;
}

.song-wrapper {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-radius: 1rem 2rem 2rem 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.track-name {
  flex-grow: 1;
  font-size: 0.85rem;
  padding: 1rem;
}

.favorite-button {
  border: none;
  background: none;
  font-size: 1.15rem;
  padding: 1rem;
  color: lightgray;
  cursor: pointer;
}

.isFavorite {
  color: rgb(0, 128, 0);
}

.favorite-songs-container{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-device-width: 1028px) {
  .album-container {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .song-container {
    width: 100%;
  }
  .song-wrapper {
    width: 90vw;
    flex-direction: column-reverse;
    border-radius: 2rem;
  }

  .track-name {
    padding: 0.75rem;
  }

  .track-audio {
    width: 100%;
  }
}
