.header-container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  top: 0;
  position: sticky;
  z-index: 1;
}

.title-wrapper,
.header-nav {
  display: flex;
  justify-content: space-between;
}

.title-wrapper {
  background: #134E5E;
  color: white;
  padding: 1rem;
}

.header-nav {
  justify-content: space-around;
  background: #71B280;
  color: white;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

@media only screen and (max-device-width: 600px) {
  .playtunes-title {
    width: 100vw;
    text-align: center;
  }

  .welcome-user {
    display: none;
  }
}