.user-container {
  position: absolute;
  left: 30%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 40vw;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.edit-profile-form  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-wrapper,
.email-wrapper,
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-title,
.user-info {
  font-size: 1.25rem;
  padding: 1rem;
}

.edit-input {
  font-size: 1rem;
  height: 3rem;
  width: 15rem;
  border-radius: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.save-button {
  font-size: 1rem;
  height: 3rem;
  width: 10rem;
  border: none;
  background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 0.3rem #eee;
  border-radius: 1rem;
  margin-top: 1rem;
}

.save-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-device-width: 820px) {
  .user-container {
    left: 5%;
    width: 90vw;
  }

  .name-wrapper,
  .email-wrapper,
  .img-wrapper {
    flex-direction: column;
  }
}